{% extends "layout.html" %}
{% block body_content %}
    {% for card in in count %}
        <div>
            <h3>{{card, '  ', card_name, '  ATTACK: ', card_attk, '  DEFENSE: ', card_def }}</h3>
            <a href="{{ url_for('remove_card', card=card_name, deck=deck_id) }}">Remove Card</a>
            <a href="{{ url_for('edit_card', card=name, deck=deck_id) }}">Edit Card</a>
        </div>
        <br>
    {% endfor %}
    <a href="{{ url_for('delete_deck', deck=deck_id) }}">Remove Deck</a>
    <a href="{{ url_for('add_card', deck=deck_id) }}">Add card</a>
{% endblock body_content %}