{% extends "layout.html" %}
{% block body_content %}
    {% for card in range(count) %}
        <div>
            <h3>{{ (card+1), card_name[card],  'ATTACK:',  card_attk[card], 'DEFENSE:', card_def[card] }}</h3>
            <a href="{{ url_for('remove_card', card=card_name[card], deck=deck_id) }}">Remove Card</a>
            <a href="{{ url_for('edit_card', card=card_name[card], deck=deck_id) }}">Edit Card</a>
        </div>
        <br>
    {% endfor %}
    <a href="{{ url_for('delete_deck', deck=deck_id) }}">Remove Deck</a>
    <a href="{{ url_for('add_card', deck=deck_id) }}">Add card</a>
{% endblock body_content %}